$dark: #14181d;
$navy: #07272b;
$blue: #293545;

$black-accent: #0e3d35;
$dark-accent: #105a4d;
$med-accent: #118872;
$accent: #378c17;
$bright: #05d8b2;

$warning: #ce471d;
$light: #cfe9f7;
$focus: #ecf4ff;
$grey: #8d9b9f;
$black: #000000;
$white: #ffffff;
$man: #c0deff;
$lady: #ffdbf5;

$tr: all 0.3s ease-in-out;

$font: "Roboto", sans-serif;

$mobile: 767px;
$tablet: 1023px;

$header: 60px;
$footer: 100px;

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

html {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-size: 16px;
	line-height: 120%;
	background-color: $dark;
	color: $light;
	overflow-y: scroll;
}

.wrapper {
	max-width: 1240px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

main {
	width: 100%;
	padding: 40px 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	@media (max-width: $mobile) {
		padding: 20px;
	}
}

.route-enter-from {
	opacity: 0;
	transform: translateY(30px);
}

.route-leave-to {
	opacity: 0;
	transform: translateY(-30px);
}

.route-enter-active {
	transition: all 0.3s ease-out;
}

.route-leave-active {
	transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
	opacity: 1;
	transform: translateY(0);
}

.card {
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	background-color: $white;
}

h1 {
	margin: 0 auto;
	font-size: 26px;
	line-height: 110%;
	align-self: center;

	@media (max-width: $tablet) {
		font-size: 28px;
	}

	@media (max-width: $mobile) {
		font-size: 22px;
	}
}

h2 {
	margin: 0 auto;
	font-size: 24px;
	line-height: 110%;

	@media (max-width: $tablet) {
		font-size: 24px;
	}

	@media (max-width: $mobile) {
		font-size: 20px;
	}
}

h3 {
	margin: 0 auto;
	font-size: 22px;
	line-height: 110%;
	@media (max-width: $tablet) {
		font-size: 20px;
	}

	@media (max-width: $mobile) {
		font-size: 16px;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
textarea {
	display: block;
	width: 100%;
	border: 1px solid $bright;
	color: $bright;
	font-family: "Roboto", sans-serif;
	padding: 10px;
	transition: $tr;
	background-color: $dark;
}

input[type="radio"] {
	display: inline;
	width: auto;
	border: none;
}

.invalid label {
	color: $med-accent;
}

.invalid input {
	border: 1px solid $med-accent;
}

.button {
	padding: 10px 25px;
	color: inherit;
	background-color: $accent;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	transition: $tr;

	&:hover {
		background-color: darken($accent, 10%);
	}

	&:active {
		background-color: darken($accent, 15%);
	}
}
